@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@font-face {
  font-family: 'frizQuadrataRegular';
  src: url('../font/friz-quadrata-regular-os-5870333951e7c.woff') format('woff'),
       url('../font/friz-quadrata-regular-os-5870333951e7c.ttf') format('truetype');
}

@font-face {
  font-family: 'frizQuadrataBoldItalic';
  src: url('../font/friz-quadrata-bold-italic-os-5870341205e0f.woff') format('woff'),
       url('../font/friz-quadrata-bold-italic-os-5870341205e0f.ttf') format('truetype');
}

@font-face {
  font-family: 'tenterhooksReguler';
  src: url('../font/FontsFree-Net-tenterhooks-regular.woff') format('woff'),
       url('../font/FontsFree-Net-tenterhooks-regular.ttf') format('truetype');
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url("../images/bg-tft.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Outfit", sans-serif;
  color: #000;
}

.heading {
  font-family: 'frizQuadrataBoldItalic';
  font-size: 48px;
  color: white;
  padding: 32px 98px;
}

.hero {
  color: white;
  width: 450px;
  text-wrap: wrap;
  position: absolute;
  left: 10%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero .title {
  font-family: 'tenterhooksReguler';
  font-size: 96px;
  text-transform: uppercase;
}

.hero .desc {
  font-family: 'frizQuadrataRegular';
  line-height: 200%;
  font-size: 16px;
}

.hero .button-sign-in {
  width: fit-content;
  font-family: 'frizQuadrataBoldItalic';
  font-size: 20px;
  text-transform: uppercase;
  padding: 16px 32px;
  border: 3px solid #887953;
  border-radius: 8px;
  margin-top: 24px;
  cursor: pointer;
  color: #fff;
}

a {
  text-decoration:none;
}

.container {
  background: #fff;
  border-radius: 18px;
  padding: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.container .form-title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.container .create-account {
  text-align: center;
  font-weight: 600;
  color: #000;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

form label {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

*:focus {
  outline: none;
}

form .input-auth {
  padding: 0px 6px;
  width: 245px;
  height: 32px;
  margin-top: 4px;
  display: block;
  border: 0;
  border-radius: 4px;
  background: #F0F4FC;
}

form button {
  padding: 10px;
  border-radius: 12px;
  border: 0;
  color: #fff;
  background: #D23538;
}

.text-red-600 {
  color: rgb(220 38 38);
}